---
---

{% include head.html %}

<body>
  <div class="d-flex flex-row align-items-start p-4">
    <div class="outer_screen p-4">
      <div class="screen p-2">
	<div class="bumper top"></div>
	<div class="page_text overflow-auto" class="my-4 pt-2 pb-5 px-1">
	  {{ page_text }}
	</div>
	<div class="choices " class=""></div>
	<div class="bumper bottom"></div>
	<div class="statusbar">
	  <div class="pbar">page:
	    <span id="page_index"></span>
	    <div class="progress">
	      <div class="progress-bar" role="progressbar"></div>
	    </div>
	  </div>
	  <div class="score">score: <span id="score"></span> / <span id="out_of"></span></div>
	</div>
      </div>
    </div>
    
    <div class="crank ms-3">
      <span>crank</span>
	<div class="metal tab up"><i class="fal fa-arrow-alt-up"></i></div>
	<div class="metal tab down"><i class="fal fa-arrow-alt-down"></i></div>
    </div>
  </div>
  
  <div class="container mt-3">
    <div class="row">
      <div class="controls col-4">
	{% include dpad.html %}
	<div class="abgroup">
	  <div class="outer ab b">
	    <div class="inner">B</div>
	  </div>
	  <div class="outer ab a">
	    <div class="inner">A</div>
	  </div>
	</div>
      </div>

    </div>
  </div>
    
</body>
</html>
