  <div class="gear_panel p-2 d-flex flex-row-reverse closed">
    <div class="gear_toggle"><i class="fa fa-cog"></i></div>
    <div class="set_color yellow"></div>
    <div class="set_color pale_yellow"></div>
    <div class="set_color pink"></div>
    <select class="form-select form-select-sm me-3">
      <option selected>In A New York Minute</option>
      <option disabled>Fruit Ninja: Flawless Ripeness</option>
      <option disabled>You Were At My Wedding, Denise</option>
      <option disabled>I Remember Marcel Proust</option>
      <option disabled>The Day The Earth Stood Up</option>
      <option disabled>Double Jeopardy On Trial</option>
      <option disabled>Not Those Goddamn Nazis, Again</option>
      <option disabled>──────────</option>
      <option disabled>Load title…</option>
    </select>
    <button class="reset btn btn-warning btn-sm me-3">reset</button>
  </div>
