<div class="intro">
  <h1 class="mb-0">Hopes and Regrets</h1>

  <h2 class="mb-3">A literary time-travel puzzle game</h2>

  <p>To get a high score, try to achieve as many of your
    hopes as possible,<br/> while avoiding regrets. Choose wisely.</p>

  <h3>Controls</h3>

  <li><i class="fal fa-arrow-alt-up"></i> <i class="fal fa-arrow-alt-down"></i>: Go forward and back in the timeline</li>

  <li><i class="fal fa-arrow-alt-right mt-3"></i> <div class="circle">A</div> <div class="circle">B</div></span>: Make choices, when available</li>

<p class="mt-4">Press <i class="fal fa-arrow-alt-right"></i> to resume your timeline.</p>
</div>

