@import url('https://fonts.googleapis.com/css?family=Lato&display=swap:200');
@import url('https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,700&display=swap');


body {
    background-color: lighten(yellow, 40%);

    .outer_screen {
	background-color: #111;
	border-radius: 20px;
	width: 650px;
	height: 450px;
	.screen {
	    background-color: #333;
	    color: #DDD;
	    width: 600px;
	    height: 400px;
	    .page_text {
		width: 590px;
		height: 350px;
		font-family: Spectral, TimesNewRoman;
		font-size: 120%;
		border-bottom: solid .5px #444;
		margin-bottom: 4px;
		h1, h3 {
		    font-family: Lato, sans-serif;
		    font-weight: 200;
		    margin-bottom: 1em;
		}
	    }
	    .pbar {
		font-size: 90%;
		display: inline-block;
		margin-right: 260px;
		.progress {
		    height: 3px;
		    width: 220px;
		    .progress-bar {
			background-color: #996;
		    }
		}
	    }
	    .score {
		font-size: 90%;
		display: inline-block;
	    }

	}
    }

    .controls {
	width: 600px;
	border: solid 1px #333;
	border-radius: 10px;
	background-color: #ff8;
	padding: 2em;
    }
    .choices {
	.choice:hover {
	    background-color: #ee9;
	}
	.choice.active label {
	    background-color: darken(#ffc107, 7%);
	}
    }
}


img.crank {
    width: 2em;
}
